<div class="formWrap">
  <%= form_with model: list, class: 'titleForm' do |f| %>
    <p class="titleForm__name">タイトル</p>
    <%= f.text_field :title, class: 'inputTitle' %>
    <div class="btn-box btn-blackout">
      <%= f.submit '作成', class: 'createBtn' %>
    </div>
  <% end %>
</div>
