<div class="contentsTitle">
  <h1 class="contentsTitle__text">タイトル編集</h1>
</div>
<div class="main">
    <div class="container">
       <%= render partial:"form", locals: { list: @list } %>
    </div>
</div>