<%= stylesheet_link_tag 'lists' %>
<div class="mainTitle">
  <h1 class="mainTitle__text">LIST</h1>
</div>
<div class="listWrap">
  <ul class="list">
    <% @lists.each do |list| %>
      <li class="list__item">
        <p class="list__title">
          <%= link_to list.title, list_path(list),class: 'list__text' %>
          <%= link_to "", list, method: :delete, class: "far fa-trash-alt fa-lg list-trashicon" %>
        </p>
        <div calss="list__border"></div>
      </li>
    <% end %>
  </ul>
</div>
<div class="listBtn">
  <p class="listBtn__symbol">+</p>
  <%= link_to '追加', new_list_path,class: 'listBtn__text' %>
</div>