<div class="mainTitle">
  <div class="listHeader">
    <p class="listHeader__btn"><%= link_to "＜戻る",  root_path, class: 'headerBtn' %></p>
    <p class="hayatyan"><%= @list.title %></p>
    <p class="listHeader__btn"><%= link_to '編集', edit_list_path, class: 'headerBtn' %></p>
  </div>
</div>
<% @items.each do |item| %>
<div class="panel-block">
  <div class="colum"><%= item.name %></div>
  <div class="icon">
    <% if item.name %>
      <%= link_to "", item, method: :delete, class: "far fa-trash-alt fa-lg trashicon" %><br>
    <% end %>
  </div>
</div>
<% end %>

<div class="addList">
  <%= form_with model: @item, url: items_path, class: 'addList__columns', local: true do |f| %>
    <%= f.text_field :name, class: 'addList__input' %>
    <%= hidden_field_tag :list_id, params[:id] %>
    <%= f.submit '追加', class: 'addList__btn' %>
    <% end %>
</div>
