<div class="main">
  <div class="sineupForm">
    <div class="sineupFormWrap">
      <h1 class="sineupForm__name">ログイン</h1>
      <%= form_for(:session, url: login_path) do |f| %>
      <div class="inputBox">
        <%= f.label :メールアドレス, class: 'infoCategory' %>
        <%= f.email_field :email, class: 'inputInfo' %>

        <%= f.label :パスワード, class: 'infoCategory' %>
        <%= f.password_field :password, class:'inputInfo' %>
        <%= f.submit "送信", class: "sineupBtn" %>
        </div>
      <% end %>
      <p calss="annotation">新規登録は<%= link_to "こちら", signup_path %></p>
    </div>
  </div>
</div>
