<div class="main">
  <div class="sineupForm">
    <div class="sineupFormWrap">
      <h1 class="sineupForm__name">新規登録</h1>
      <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'shared/error_messages' %>
        <div class="inputBox">
          <%= f.label :ユーザー名, class: 'infoCategory' %>
          <%= f.text_field :name, class: 'inputInfo' %><br>

          <%= f.label :メールアドレス, class: 'infoCategory' %>
          <%= f.email_field :email, class: 'inputInfo' %><br>

          <%= f.label :パスワード, class: 'infoCategory' %>
          <%= f.text_field :password, class: 'inputInfo' %><br>
        </div>
        <%= f.submit '送信', class: 'sineupBtn' %>
      <% end %>
    </div>
  </div>
</div>