 // 変数の定義
 $basic-fontcolor: #36362F;
 $large-fontcolor: #37362E;
 $basic-fontsize: 12px;
 $form-fontsize: 14px;
 $midium-fontsize: 18px;
 $title-fontsize: 24px;
 $large-fontsize: 32px;
 $accent-color: #ECC74C;