// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables.scss";

.mainTitle {
    border-bottom: 1px solid #DEDEDE;
    text-align: center;
    padding-top: 50px;
    height: 100px;
    background-color: white;
    &__text {
        font-size: $large-fontsize;
        color: $large-fontcolor #37362E;
    }
}
.contentsTitle {
    border-bottom: 1px solid #DEDEDE;
    text-align: center;
    padding-top: 50px;
    height: 100px;
    background-color: white;
    &__text {
        font-size: $title-fontsize;
        color: $large-fontcolor #37362E;
    }
}
.listBtn {
    background-color: $accent-color;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    position: fixed;
    bottom: 60px;
    right: 45px;
    margin: 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
    &__text {
        font-size: $midium-fontsize;
        color: white;
        display: block;
        position: absolute;
        padding-top: 45px;
        top: 0px;
        right: 0px;
        width:100%;
        height:100%;
    }
    &__symbol {
        font-size: 40px;
        color: white;
    }
}
.listWrap {
    margin: 25px 0;
}
.list {
    &__item {
        height: 70px;
        line-height: 70px;
    }
    &__title {
        font-size: $midium-fontsize;
        color: $basic-fontcolor;
    }
    &__text {
        color: $basic-fontcolor;
        padding: 0 10%;
        display: inline-block;
    }
}
.main {
    height: 100vh;
    background-color: #f7f7f7;
    padding-top: 40px;
}
.titleForm {
    text-align: center;
    width: 310px;
    height: 230px;
    padding: 45px 0;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, .1);
    &__name {
        font-size: $midium-fontsize;
    }
}
.inputTitle {
    width: 230px;
    padding: 8px 10px;
    font-size: $form-fontsize;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin: 5px  0 15px 0;
}
.createBtn {
    display       : inline-block;
    border-radius : 3px;
    font-size     : $midium-fontsize;
    text-align    : center;
    padding       : 12px 35px;
    background    : $accent-color;
    color         : #ffffff;
    line-height   : 1em;
    transition    : 16px;
    border        : none;
}
.trashicon {
    color: $accent-color;
    width: 5%;
    font-weight: lighter;
}
.list-trashicon {
    color: $accent-color;
    width: 5%;
    font-weight: lighter;
    float: right;
    display: inline-block;
    line-height: 70px;
    margin: 0 36px 0 0;
}
.headerBtn {
    color: $accent-color;
    font-size: bold;
    display: inline-block;
}
.panel-block {
    height: 76px;
}
.hayatyan {
    display: inline-block;
    width: 60%;
}
.listHeader {
    display: flex;
    max-width: 96%;
    margin: 0 auto;
    &__btn {
        width: 20%;
        text-align: center;
    }
}
.colum {
    width: 85%;
    padding-left: 5%;
}
.addList {
    display: block;
    &__columns {
        text-align: center;
        margin-top: 20px;
    }
    &__input {
        border: none;
        border-bottom: 1px solid #ededed;
        width: 60%;
        height:40px;
        &:focus {
            outline: none;
            background-color: transparent;
        }
    }
    &__btn {
        background-color: $accent-color;
        border: none;
        color: white;
        height: 40px;
        width: 16%;
        border-radius: 5px;
        margin: 0 10px;
    }
}
