// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables.scss";

.infoCategory {
    float: left;
    font-size: $form-fontsize;
}
.inputInfo {
    width: 250px;
    padding: 8px 10px;
    font-size: $form-fontsize;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin: 2px  0 15px 0;
}
.main {
    height: 100vh;
    background-color: #f7f7f7;
    padding-top: 80px;
}
.sineupForm {
    text-align: center;
    width: 310px;
    padding: 10px 0 30px 0;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, .1);
    &__name {
        font-size: $midium-fontsize;
    }
}
.sineupFormWrap {
    padding: 20px 15px 10px 15px;
}
.sineupBtn {
    display: inline-block;
    box-sizing: border-box;
    border-radius : 3px;
    font-size: $midium-fontsize;
    text-align: center;
    padding: 11px 107px;
    background: $accent-color;
    color: #ffffff;
    line-height: 1em;
    transition: 16px;
    border: none;
}
.inputBox {
    margin: 20px auto 10px auto;
    width: 250px;
}
.annotation {
    font-size: $basic-fontsize;
}
.trashicon {
    color: $accent-color;
}
